<table *ngIf="!(clientsService.isLoading | async)" mat-table [dataSource]="this.clientsService.searchResult"
  class="search-result">
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> First name. </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last name. </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email. </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="birthDate">
    <th mat-header-cell *matHeaderCellDef> Birth date. </th>
    <td mat-cell *matCellDef="let element"> {{element.birthDate | date}} </td>
  </ng-container>

  <ng-container matColumnDef="registrationDate">
    <th mat-header-cell *matHeaderCellDef> Registration date. </th>
    <td mat-cell *matCellDef="let element"> {{element.registrationDate | date}} </td>
  </ng-container>

  <ng-container matColumnDef="ipAddress">
    <th mat-header-cell *matHeaderCellDef> IP address. </th>
    <td mat-cell *matCellDef="let element"> {{element.ipAddress}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status. </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">  
      <mat-icon color="accent" (click)="removeClient($event, element.id);">remove_circle_outline</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="table-row"
    mat-row *matRowDef="let row; columns: displayedColumns;"
    [routerLink]="['/clients', row.id]">
  </tr>
</table>

<mat-progress-bar *ngIf="clientsService.isLoading | async" mode="indeterminate"></mat-progress-bar>
